# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SsipMukC/.vs/
SsipMukC/Ch1_Variable/Debug/
SsipMukC/Debug/
SsipMukC/SsipMukC/Debug/
SsipMukC/Ch2_Caculate/Debug/Ch2_Caculate.log
SsipMukC/Ch2_Caculate/Debug/vc142.idb
SsipMukC/Ch2_Caculate/Debug/Ch2_Caculate.tlog/Ch2_Caculate.lastbuildstate
SsipMukC/Ch2_Caculate/Debug/
SsipMukC/Ch3_Operator/Debug/
SsipMukC/Ch4_Complement/Debug/
SsipMukC/Ch6_For/Debug/
SsipMukC/Ch5_If/Debug/
SsipMukC/Ch7_Switch/Debug/
SsipMukC/Ch8_Array/Debug/
